# Web Framework
fastapi
uvicorn[standard]
python-multipart
jinja2

# ONNX Runtime
onnxruntime>=1.17.0

# CV Libraries
opencv-python-headless
numpy
Pillow

# Utils
aiofiles
python-dotenv

# Database
aiomysql
minio
